.vscode
*.sqlite
*.sqlitedb
*.sqlite3
.env
*.db
/backend/.env
/backend/utils/
/backend/auth/

# Editor and OS files
.idea/
.DS_Store
**/.DS_Store

# Build and compilation outputs
build/
cmake-build-debug/
a.out
**/build/
**/cmake-build-debug/